.filters {
    font: 18px Arial sans-serif;
    text-align: center;
    list-style: none;
    position: absolute;
    display: inline;
    padding: 0;
}

.filters li {
    display: inline;
}

.filters a {
    text-decoration: none;
    color: dimgray;
    margin: 5px;
    padding: 2px 10px;
}

.filters .checked-filter {
    border: darkgrey solid 1px;
    border-radius: 3px;
}