.filter {
    display: inline-block;
    list-style: none;
    font: 14px Arial sans-serif;
    text-align: center;
}

.filter-item {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.filter-item-checked {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    border: #333333 solid 1px;
    padding: 1px 4px;
    border-radius: 3px;
}

.link {
    text-decoration: none;
    color: #333333;
}
