.todo-item {
    font: 20px Arial sans-serif;
    display: block;
    border: lightgray solid 0;
    border-bottom-width: 1px;
    position: relative;
    height: 60px;
}

.todo-item-edit {
    font: 20px Arial sans-serif;
    display: inline;
    border: darkgray solid 1px;
    height: auto;
    padding: 18px;
    position: relative;
    left: 22px;
}

.todo-item-read {
    font: 20px Arial sans-serif;
    display: block;
    padding: 15px 15px 15px 5px;
}

.todo-item-check {
    display: inline;
    width: 20px;
    height: 20px;
    color: lightgray;
    vertical-align: bottom;
}

.todo-item-label {
    display: inline;
    position: relative;
    left: 10px;
    vertical-align: bottom;
}

.todo-item-label-completed {
    display: inline;
    position: relative;
    left: 10px;
    color: darkgrey;
    text-decoration: line-through;
    vertical-align: bottom;
}

.todo-item-delete {
    font-size: 20px;
    display: inline;
    position: absolute;
    right: 10px;
    color: darksalmon;
    border: none;
    outline: none;
    background-color: inherit;
    vertical-align: bottom;
}
